<div class="flex" *ngFor="let publicacion of publicaciones; let i = index">
  <mat-card class="publicacion">
    <mat-card-header>
      <mat-card-title>{{publicacion.titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img [src]="imagenes[i]" alt="" width="200px">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="abrirPublicacion(publicacion)">Ver mas</button>
      <button mat-raised-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-progress-bar color="primary" mode="query" *ngIf="publicaciones.length == 0"></mat-progress-bar>
