<mat-card class="publicacion" *ngIf="publicacion">
  <div>
    <h1>
      {{ publicacion.titulo }}
    </h1>

    <p>
      {{ publicacion.descripcion }}
    </p>
  </div>

  <mat-card class="content-price">
    <mat-card-content class="content-image">
      <img [src]="imageSource" alt="" width="300px" />
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <mat-icon>paid</mat-icon>
        <span>{{ publicacion.precio }}</span>
        <button mat-raised-button color="accent">COMPRAR</button>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card>

<mat-progress-bar color="primary" mode="query" *ngIf="!publicacion"></mat-progress-bar>

<div>
  <h3>{{reviews.length}} comentarios</h3>

  <form [formGroup]="formComentario">
    <mat-form-field class="comentario" appearance="fill">
      <mat-label>Agregar comentario</mat-label>
      <textarea
        matInput
        cols="20"
        rows="10"
        formControlName="comentario"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="comentar()">Comentar</button>
  </form>

  <div class="reviews-container">
    <div *ngFor="let item of reviews">
      <div class="content-review">
        <div class="left">
          <h3>{{ item.usuario }}</h3>
        </div>
        <div class="right">
          <span>{{ item.comentario }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
