.publicacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;

  .content-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-image {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
}

form {
  display: inline-flex;
  width: 100%;

  .comentario {
    width: 90%;
  }
  button {
    height: 80px;
  }
}
